@import "variables";

body {
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &.scrollbar {
    &::-webkit-scrollbar {
      width: 6px;
      background-color: $gray-200;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        color-stop(0.5, rgba(255, 255, 255, 0.2)),
        color-stop(0.5, transparent),
        to(transparent)
      );
      opacity: 1;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: transparent;
    }
  }
}

.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
  font-family: inherit;
}

button:focus,
.btn:focus {
  outline: none;
}

.animated {
  animation-fill-mode: forwards;
}
