<!-- Navigation -->
<nav
  class="navbar navbar-expand-lg navbar-light fixed-top"
  [ngClass]="{ show: navbarOpen }"
  id="mainNav"
>
  <div class="container">
    <a
      mat-button
      class="navbar-brand"
      (click)="util.routeTo(['/'])"
      [ngClass]="transition.apply('fade')"
      >{{ title }}
    </a>
    <button
      mat-button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      (click)="toggleNavBar()"
    >
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: navbarOpen }"
      id="navbarResponsive"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            mat-button
            class="nav-link"
            href="https://github.com/Seanwong933"
            target="_blank"
            (click)="onItemTapped(items.about)"
            >Github</a
          >
        </li>
        <li class="nav-item">
          <a mat-button class="nav-link" (click)="onItemTapped(items.about)">{{
            items.about
          }}</a>
        </li>

        <li class="nav-item" *ngIf="!store.userIsAvailable">
          <a mat-button class="nav-link" (click)="onItemTapped(items.signIn)">{{
            items.signIn
          }}</a>
        </li>
        <li class="nav-item" *ngIf="store.userIsAvailable">
          <a
            mat-button
            class="nav-link"
            (click)="onItemTapped(items.newPost)"
            >{{ items.newPost }}</a
          >
        </li>
        <li class="nav-item" *ngIf="store.userIsAvailable">
          <a
            mat-button
            class="nav-link"
            (click)="onItemTapped(items.signOut)"
            >{{ items.signOut }}</a
          >
        </li>
        <li class="nav-item" *ngIf="store.userIsAvailable">
          <a mat-button class="nav-link" (click)="onItemTapped(items.reset)">{{
            items.reset
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
