<app-header [model]="headerModel"></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 mx-auto list">
      <ng-container *ngFor="let item of articles">
        <div [ngClass]="itemTransition">
          <div class="post-preview">
            <a (click)="util.routeTo(['/article', item.id])">
              <h2 class="post-title">
                {{ item.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ item.digest }}
              </h3>
            </a>
            <p class="post-meta">
              Posted by
              <a>{{ item.author }}</a>
              {{ item.createdAt | date: "medium" }}
            </p>
          </div>
          <hr />
        </div>
      </ng-container>

      <div class="clearfix" *ngIf="pagination">
        <a
          class="btn btn-primary float-left"
          [ngClass]="transition.apply('page_turn_button')"
          mat-flat-button
          (click)="previous()"
          *ngIf="pagination.previousPageLink"
          >← Newer</a
        >
        <a
          class="btn btn-primary float-right"
          [ngClass]="transition.apply('page_turn_button')"
          mat-flat-button
          (click)="next()"
          *ngIf="pagination.nextPageLink"
          >Older →</a
        >
      </div>
    </div>
  </div>
</div>
