<app-header
  [model]="model"
  isEditing="true"
  (headerUpdated)="onHeaderChanged($event)"
></app-header>
<div [ngClass]="transition.apply('fade-opposite')">
  <div id="editor"></div>
  <div class="padding-md clearfix">
    <!-- <button class="btn float-left" mat-flat-button (click)="preview()">
        Preview
      </button> -->
    <button
      class="float-right"
      color="primary"
      mat-flat-button
      (click)="submit()"
    >
      {{ isEditing ? "Update" : "Post" }}
    </button>
  </div>

  <hr />
</div>
