<ng-container *ngIf="model">
  <app-header [model]="model"></app-header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div
          class="col-lg-10 col-md-10 mx-auto"
          *ngIf="variables.renderFromServer"
        >
          {{ model.content }}
        </div>
        <div
          class="col-lg-10 col-md-10 mx-auto"
          id="viewer"
          *ngIf="!variables.renderFromServer"
        ></div>
      </div>
    </div>
  </article>
</ng-container>

<hr />
