<h1 mat-dialog-title>Sign In</h1>
<div class="container">
  <div class="row">
    <mat-form-field class="col-12">
      <input
        placeholder="Username"
        matInput
        [formControl]="username"
        required
      />
      <mat-error *ngIf="username.invalid">{{
        getErrorMessage(username)
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12">
      <input
        placeholder="Password"
        matInput
        [formControl]="password"
        required
        (keydown.enter)="submit()"
      />
      <mat-error *ngIf="password.invalid">{{
        getErrorMessage(password)
      }}</mat-error>
    </mat-form-field>
  </div>
</div>
<div style="margin-top:20px;">
  <button class="float-left" mat-button (click)="close()">
    Cancel
  </button>
  <button
    mat-button
    color="primary"
    class="float-right"
    (click)="submit()"
    [attr.disabled]="loading ? '' : null"
  >
    Sign In
  </button>
</div>
