$iconWidth: 56px;

.sidenav-toggle {
  // display: none;
  display: flex;
  // padding: 0;
  margin: 8px;
  margin-left: 0;
  min-width: $iconWidth;

  @media (max-width: 720px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
      font-size: 30px;
      height: $iconWidth;
      widows: $iconWidth;
      line-height: $iconWidth;
      color: white;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}