<app-header [model]="model"></app-header>

<!-- Post Content -->
<div class="container" *ngIf="content" [ngClass]="animations.content.class">
  <div class="row">
    <div
      id="viewer"
      class="col-lg-12 col-md-12 mx-auto"
      [innerHTML]="content"
    ></div>
  </div>
  <div class="row">
    <div class="article-tags col-lg-12 col-md-12 mx-auto">
      <span class="text-color-light text-small">标签</span><br />
      <a mat-stroked-button color="primary" href="/tags/C/">C#</a>
      <a mat-stroked-button color="primary" href="/tags/async-await/"
        >async await</a
      >
      <a mat-stroked-button color="primary" href="/tags/多线程/">多线程</a>
      <a mat-stroked-button color="primary" href="/tags/异步/">异步</a>
      <a mat-stroked-button color="primary" href="/tags/状态机/">状态机</a>
    </div>
  </div>
</div>
