<app-header [model]="headerModel"></app-header>
<div class="container" id="articleList">
  <div class="row">
    <div class="col-lg-11 col-md-11 mx-auto list" *ngIf="data">
      <ng-container *ngFor="let item of data.list; let i = index">
        <div class="item delay-{{ i + 1 }}" [ngClass]="item.animation.class">
          <div class="post-preview">
            <a (click)="read(item)">
              <h2 class="post-title">
                {{ item.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ item.digest }}
              </h3>
            </a>
            <div class="row">
              <span class="post-meta col-auto mr-auto">
                Posted on
                {{ item.createdAt | date: "yy·M·d h:mma" }}
              </span>
              <span class="operations col-auto" *ngIf="store.user">
                <button mat-button color="danger" (click)="delete(item, i)">
                  Delete
                </button>
                <button mat-button color="primary" (click)="edit(item)">
                  Edit
                </button>
              </span>
            </div>
          </div>
          <hr />
        </div>
      </ng-container>
      <!-- button route animation -->
      <div [ngClass]="transition.apply('fade-opposite')">
        <!-- button page turn animation -->
        <div class="clearfix" [ngClass]="transition.apply('page-turn-button')">
          <a
            mat-flat-button
            color="primary"
            class="float-left"
            (click)="preloading || previous()"
            *ngIf="data.hasPrevious"
            [attr.disabled]="preloading ? '' : null"
            >← Newer</a
          >
          <a
            mat-flat-button
            color="primary"
            class="float-right"
            (click)="preloading || next()"
            *ngIf="data.hasNext"
            [attr.disabled]="preloading ? '' : null"
            >Older →</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
