<!-- Page Header -->
<header class="masthead" id="header">
  <div class="header-bg" [ngClass]="animations.cover.class"></div>
  <div class="overlay"></div>
  <div class="container">
    <div class="row align-items-center">
      <div
        class="col-lg-12 col-md-12 mx-auto"
        *ngIf="model"
        [ngClass]="animations.title.class"
      >
        <div class="site-heading">
          <h1>{{ model.title }}</h1>
          <span class="subheading">{{ model.digest }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
