@import "shared";

.title {
  font-size: 35px;
}

/*
  Mark: Scale fonts according to window size
  https://stackoverflow.com/a/13358713 
*/
@mixin fontResize($iterations) {
  $i: 1;
  @while $i <= $iterations {
    @media all and (min-width: 100px * $i) {
      $font-size: 1vh * $i;
      // max size limitation
      @if $font-size >= 11vh {
        $font-size: 11vh;
      }
      .site-heading h1 {
        font-size: $font-size;
      }
    }
    $i: $i + 1;
  }
}
@include fontResize(19);

header.masthead {
  margin-bottom: 10px;
  background: no-repeat center center;
  background-color: $black;
  background-attachment: scroll;
  position: relative;
  word-break: break-all;
  height: 300px;
  @media only screen and (min-width: 992px) {
    height: 500px;
    margin-bottom: 50px;
  }
  @include background-cover;
  .container,
  .row {
    height: 100%;
  }
  .overlay,
  .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .header-bg {
    background: no-repeat center center;
    background-attachment: scroll;
    opacity: 1;
    background-color: black;
    background-image: url("/assets/img/placeholder.jpg");
    background-size: cover;
    transition: background-image 0.5s;
  }
  .overlay {
    background-color: $gray-900;
    opacity: 0.5;
  }
  .page-heading,
  .post-heading,
  .site-heading {
    color: white;
  }
  .page-heading,
  .site-heading {
    text-align: center;
    h1 {
      // font-size: 40px;
      margin-top: 0;
    }
    .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
      @include sans-serif-font;
    }
    @media only screen and (min-width: 992px) {
      h1 {
        // font-size: 80px;
      }
    }
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .meta,
    .subheading {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
      @include sans-serif-font;
    }
    .meta {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      @include serif-font;
      a {
        color: $white;
      }
    }
    @media only screen and (min-width: 992px) {
      h1 {
        font-size: 55px;
      }
      .subheading {
        font-size: 30px;
      }
    }
  }
}
